* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #4f5e57;
    margin: 0 auto;
    padding: 0 auto;
}
nav{
    background: #d2d7c6;
}
nav a{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
nav #logo{
    width: 12%;
    height: 100%;
}
.nav_structure{
    display: flex;
    list-style: none;
}
#breaker_start{
    margin-left: auto;
    padding: .5em 1em;
}
.breaker_add{
    padding: .5em 1em;
}
main table{
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: white;
}
main table thead tr th{
    font-size: 3rem;
    padding: 0 2rem;
}
main table tbody tr td{
    text-align: center;
    font-size: 1.5rem;
}
main table tbody tr td a{
    color: white;
    text-decoration: none;
}
main table tbody tr td a:hover{
    text-decoration: underline;
}
main h3{
    text-align: center;
    font-size: 2rem;
    color: white;
}
main form{
    text-align: center;
    color: white;
}
main{
    min-height: 100vh;
}
footer{
    background-color:#d2d7c6;
    padding: 2% 0;
}
footer p{
    text-align: center;
}